body{
    background-color: white;
    width: 1100px;
    margin: auto;
    margin-bottom: 30px;
}

.container{
    width: 968px;
    margin: auto;
}

/*Intestazione*/

header{
    background-color: #6693fb;
    background-image: url(img/pattern.png);
    height: 100px;
    background-size: 200px;
    position: relative;
}

.logo{
   width: 20%;
   position: absolute;
   bottom: 25%;
}

/* Steep 1 - Notizie*/

h2 {
    font-size: 40px;
    margin-bottom: 0%;
}
.notizia.p{
    color: rgb(64, 63, 63);
}

#booleaner{
    color: rgb(0, 123, 255);
}

.date{
    font-size: 12px;  
}

p{
   margin-top: 0px;
   margin-bottom: 0px;
}

.tim{
    text-align: justify;
}

.descrizione {
   font-size: 10px;
   margin: 0;
}

.paragrafo{
    text-align: justify;
}

.giallo{
    background-color: yellow;
}

/* Steep 2 - Lista UL*/

ul{
    padding-inline-start: 10px;
}

/*Steep 3 - Tabela*/

table{
    border-spacing: 0;
}

tr {
    width: 60px ;
}

thead{
    background-color: rgb(5, 141, 209);
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

tbody{
    background-color:rgb(138, 207, 242);

}

.trcolor{
   background-color: white;
}

.simples{
    width: 25%;
}

.composta{
    width: 50%;
}

/* Steep 5*/

h3 {
    color: gray;
}

.finale {
    color: white;
    font-size: 25px;
    padding-left: 5%;
    padding-top: 5%;
    
}

.img1 {
    background-image: url(img/monitor.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 312px;
    height: 208px;
}

.img2 {
    background-image: url(img/graph.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 312px;
    height: 208px;
}

/* Esercizio finito*/
