body{
    background-color: white;
    width: 1200px;
    margin: auto;
}

.container{
    width: 968px;
    margin: auto;
}

/*Intestazione*/

header{
    background-color: #6693fb;
    background-image: url(img/pattern.png);
    height: 100px;
    background-size: 200px;
}

header.img{
   
}

/* Steep 1 - Notizie*/

.notizia p {
    color: rgb(64, 63, 63);
}
.sottotitolo{
   font-size: 10px;
   margin: 0;
}


