body{
    background-color: white;
}

.container{
    width: 968px;
    margin: auto;
}

/*Intestazione*/

header{
    background-color: #6693fb;
    background-image: url(img/pattern.png);
    height: 100px;
    background-size: 200px;
}

header.img{
    height: 80%px;
}
